#paymentWrap {
    border: 0;
}
#paymentWrap td {
    padding-left: 6px!important;
}
.woocommerce-checkout #paymentWrap #payment ul.payment_methods li input {
    margin-right: 0;
}
#placeOrderWrap {
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgb(239, 239, 239);
}
#placeOrderWrap button {
    display: block;
    margin: 0 auto;
    width: 100%;
}
.woocommerce-page.woocommerce-checkout form #order_review th,
.woocommerce-page.woocommerce-checkout form #order_review td,
.woocommerce-page.woocommerce-checkout #customer_details h3 {
    border: 0;
}
#billing_country_field {
    padding: 0;
}
.woocommerce-checkout-payment li, .woocommerce-shipping-methods li {
    display: block;
}

#add_payment_method #payment ul.payment_methods, .woocommerce-cart #payment ul.payment_methods, .woocommerce-checkout #payment ul.payment_methods {
    padding-left: 0;
}

.woocommerce-checkout-review-order-table tfoot th {
    background: transparent;
    padding-bottom: 16px;
}
.woocommerce #order_review table.shop_table th {
    padding: 0;
}
.woocommerce #order_review table.shop_table td {
    text-align: left;
    padding: 16px 0;
}
.woocommerce #order_review table.shop_table tfoot th {
    font-weight: normal;
    vertical-align: middle;
    width: 159px;
}
.content-area {
    float: none;
    width: auto;
    padding-right: 0;
    border: 0;
}
.woocommerce-checkout #payment ul.payment_methods .wc_payment_method>label {
    font-size: 14px;
    padding: 10px;
}
.woocommerce-checkout #payment ul.payment_methods li img {
    max-height: 20px;
}
.woocommerce table.shop_table tfoot th {
    font-size: 14px;
}

.woocommerce table.shop_table {
    border: 0;
}

@media screen and (max-width: 920px) {
    .woocommerce-checkout .woocommerce #order_review table.shop_table tfoot th {
        width: 85px;
    }
    .woocommerce-checkout .woocommerce ul#shipping_method li input {
        margin-top: 6px;
    }
    .woocommerce-checkout #paymentWrap #payment ul.payment_methods li input {
        margin-top: 6px;
    }
}

.woocommerce-checkout .entry-content {
  margin-top: 30px;
}
form.checkout.woocommerce-checkout {
  margin-top: 25px;
}

.woocommerce-page.woocommerce-checkout #payment ul.payment_methods .wc_payment_method>label {
  padding: 0;
  vertical-align: top;
  font-weight: 700;
}
.woocommerce ul#shipping_method li label {
  font-size: 14px;
  vertical-align: top;
}
.woocommerce-page.woocommerce-checkout form #order_review th {
  vertical-align: middle;
}
.woocommerce-checkout #placeOrderWrap button#place_order {
    margin: 2rem auto;
}