@media screen and (max-width: 920px) {
  .shop_table .product-mobile-actions .remove {
    padding-right: 10px;
  }

  .woocommerce-shipping-totals.shipping th,
  .woocommerce #order_review table.shop_table tfoot th {
    width: 110px !important;
  }

  .woocommerce-checkout #paymentWrap th {
    width: 110px !important;
  }

  .woocommerce-checkout-payment .place-order {
    padding: 0;
    margin-top: 15px;
  }

  .woocommerce-checkout-payment {
    margin-left: 0 !important;
    margin-top: 0 !important;
  }

  .woocommerce-checkout #payment .payment_methods > li .payment_box {
    padding: 0 0 15px 25px;
  }
}

.payment_methods > li .payment_box p {
  font-size: 14px;
}

div.woocommerce {
  max-width: 700px !important;
}

.woocommerce-checkout table.shop_table tbody tr:last-child {
  display: none;
}

table.shop_table tr > th:first-child {
  padding-left: 10px;
}

table.shop_table tr > td:last-child {
  padding-right: 10px;
}

.woocommerce-checkout .page-title {
  text-align: center;
}

.woocommerce-checkout form.checkout.woocommerce-checkout #customer_details {
  max-width: 700px;
  margin: 0 auto !important;
}

#customer_details .col-2 {
  margin-top: 20px;
}

#order_comments_field {
  margin-top: 20px;
}

.woocommerce-checkout form.checkout.woocommerce-checkout #order_review {
  max-width: 700px;
  margin: 20px auto 0 !important;
}

.woocommerce-checkout-payment#payment li {
  border: 0;
  padding: 0;
}

#payment .payment_methods > li .payment_box {
  border: 0;
  margin: 0;
  padding: 0 25px 20px;
}

#payment .payment_methods > li > label {
  height: 38px !important;
}

#paymentWrap {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  border: 0;
}

#paymentWrap th,
#paymentWrap td {
  border: 0 !important;
}

.woocommerce-checkout table.shop_table .order-total th {
  padding: 15px;
}

.woocommerce-checkout table.shop_table .order-total {
  border-bottom: 1px dashed #e1e8ed;
}

.woocommerce-checkout table.shop_table .woocommerce-shipping-totals th {
  padding: 15px;
}

.woocommerce ul#shipping_method li {
  padding: 0;
}

.woocommerce ul#shipping_method li {
  padding: 0 !important;
}

.woocommerce ul#shipping_method {
  margin-bottom: 0 !important;
}

.woocommerce ul#shipping_method label {
  font-weight: 700 !important;
}

#paymentWrap th {
  font-size: 15px !important;
  font-weight: 700 !important;
  padding: 15px !important;
}

.woocommerce-checkout form.checkout.woocommerce-checkout #order_review {
  border: 0 !important;
}

.choose_cvs td button {
	background: #1559ed;
}

.woocommerce-shipping-methods li {
	flex-direction: row!important;
}

.woocommerce-shipping-methods li input {
	margin: 2px 5px 0 0!important;
}